$justify: (
  start:start,
  center:center,
  end:end,
  around:space-around,
  evenly:space-evenly,
  between:space-between,
);

$colores:(
  primario: rgb(120, 57, 57), 
  secundario: rgb(255, 120, 0),
  terciario: rgb(43, 145, 189)
);

$btn:(
  padding: 10px 20px,
  bordes:0,
  radio:5px,
);

/*Colores*/
$colorBody: rgb(138, 28, 28);
$colorNavBar: rgb(23, 20, 20);
$colorText: rgb(98, 54, 54);
$colorDropMenu: rgb(48, 163, 172);
$colorFormButton: #fff;
$colorScrollBarThumb: #fff;
