
@mixin propiedades ($ancho, $alto, $colorLetra){
    width: $ancho;
    height: $alto;
    @if ($colorLetra == claro){
        color: rgb(0, 0, 0)
        }
      @else  {
        color: rgb(233, 237, 241);
    }
    color: $colorLetra;
  }




@mixin textColor ($color) {


    @if ($color == white){   
    }
    color: white;
        
}