
@mixin propiedades ($ancho, $alto, $colorLetra){
    width: $ancho;
    height: $alto;
    color: $colorLetra;
  }




@mixin textColor ($color) {

    @if ($color == white)
    color: white;
        
}