@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Open+Sans&display=swap');
@import "variables";
@import "grid";
@import "btn";
@import "mixing";


* {
  color: rgb(229, 229, 229);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center_text {
  text-align: center;
}

h1 {
  color: rgb(0, 38, 255);
  text-align: center;
  font-size: 30px;
  margin: 10px;
  font-family: "montserrat";
  &:hover {
    transform: scale(1.05);
    transition: 100ms ease;
  }

}



.formPrincipal {
  background-color: rgb(114, 113, 112);
  color: #282d32;
  font: bold;
  margin: 0 auto;
}

.textAreaForm {
  color: rgb(38, 29, 158);
  margin: 0 auto;
}


@media (min-width:480px) {
  .formPrincipal {
    width: 60%;
    height: 70%;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    color: black;
  }

}

div h5 {
  font-size: 20px;
  color: rgb(117, 58, 172);
}

.subtitulo {
  color: rgb(123, 44, 44);
  text-align: center;
}

.navbar {
  width: 100%;
  height: 60px;
  background-color: rgb(167, 59, 59);
  position: sticky;
  top: 0;
  grid-area: "navbar";
  border-right: 2px;
  padding-right: 5px;
}

@media (min-width: 480px) {
  .navbar {
    height: 80px;
    background-color: rgb(24, 19, 98);
    color: #fff;
    position: static;
    top: 0;
    grid-area: "navbar";
    border-right: 2px;
    padding-right: 3px;
  }
}




.bodyIndex {
  height: 800px;
  background-image: url(../img/pexels-pixabay-268415.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;

}

.mapa {
  width: 80%;
  height: 500px;
  text-align: center;
}


.tarjeta {
  margin: 50px;
  width: 100%;
  margin: 10px;
  padding: 20px;
  text-align: center;
  justify-content: center;

}

.tarjeta__titulo {
  text-align: center;
}

.tarjeta__descripcion {
  margin: 80px;

}

.tarjeta__img {
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  place-items: center;
}




.logo {
  width: 60px;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.logoImg {
  width: 14px;
}

.tarjetaPrincipal {
  width: 100%;
  font-size: 30px;
  margin: 20px;
  padding: 50px;
  border: 40px;
}

.servicios {
  margin: 30px 50px 30px 50px;
  padding: 30px 50px 30px 50px;
  text-decoration: dotted;
  text-align: left
}

.parrafosNosotros p {
  font-size: 30px;
  text-align: center;
  padding: 1%;
}

.parrafosNosotros {
  font-style: italic;
}

h2 {
  color: rgb(148, 197, 148);
  text-align: center;
  font-family: "open Sans"
}


.imagenPrincipal {
  width: 50%;
  margin-left: 10%;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
  place-items: center;
}


.video {
  width: 100%;
  height: 300px
}

.terminos {
  text-align: center;
  padding: 50px;
  margin: 0px;
  color: black;

}

.descUbicacion {
  color: rgb(31, 36, 159);
  background-color: rgb(194, 194, 229);
}


.cuadrado {
  background-color: rgb(30, 30, 66);
  width: 100%;
  height: 100px;
  background-image: url(./img/mar.jpg);
  background-size: contain;

}

.caja {
  height: auto;
  text-align: center;
  background-color: rgb(194, 150, 159);
  padding: 30px 40px 20px 10px;
  margin: 10px 30px 20px 50px;
  border: 10px solid rgb(214, 255, 7);
}


@media (min-width: 480px) {
  .cajas {
    display: flex;

  }

  .caja {
    background-color: rgb(148, 197, 148);
    width: 400px;
  }
}

@media (min-width: 768px) {
  .caja {
    width: 30%;
  }
}



@media (min-width: 1200px) {

  .caja {
    background-color: blue;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 50%;
  }
}

@media (max-width: 768px) {

  .caja {
    width: 50%;
  }
}


.main {
  display: grid;
  grid-area: main;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  place-items: center;
  padding: 30px;
}

.main__img {
  width: 300px;
  height: 300px;
}


.social {
  width: 48px;
  position: fixed;
  top: 0px;
  right: 0;
}



.formulario3 {
  text-align: center;
  border: 10px 20px 30px 40px solid red 5px;
}


.footerDark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #282d32;
}

.footerDark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}


.footerIndex ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footerIndex ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footerIndex ul a:hover {
  opacity: 1;
}

.footerIndex .item.social {
  text-align: right;

}

@media (max-width:767px) {
  .footerIndex .item {
    text-align: center;
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .footerIndex .item.social {
    text-align: center;
  }
}

.footerIndex .item.social>a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-top: 22px;
  color: inherit;
  opacity: 0.75;
}

.footerIndex .item.social>a:hover {
  opacity: 0.9;
}

@media (max-width:991px) {
  .footerIndex .item.social>a {
    margin-top: 40px;
  }
}

@media (max-width:767px) {
  .footerIndex .item.social>a {
    margin-top: 10px;

  }
}


.h3Footer {
  color: #fff;
}

.pFooter {
  color: #fff;
}


.footerDark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footerDark ul a {
  color: white;
  text-decoration: none;
  opacity: 0.6;
}

.footerDark ul a:hover {
  opacity: 0.8;
}

@media (max-width:767px) {
  .footerDark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footerDark .item.text {
  margin-bottom: 36px;
}

@media (max-width:767px) {
  .footerDark .item.text {
    margin-bottom: 0;
  }
}

.footerDark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footerDark .item.social {
  text-align: center;
}

@media (max-width:991px) {
  .footerDark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

.footerDark .item.social>a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footerDark .item.social>a:hover {
  opacity: 0.9;
}

.footerDark .copyright {
  color: #fff;
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}



::placeholder {
  color: blue;
  text-align: center;
}

.botonEnviar {
  border: red solid 5px;
  margin: 10px 30px 40px 10px;
}


.cajasProjects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.caja2 {
  background-color: aquamarine;
  width: 90%;
  padding: 10px;
  margin: 5%;
}


.redes img {
  width: 28px;
}

@media (min-width: 600px) {
  .caja2 {
    background-color: rgb(0, 0, 0);
    width: 45%;
    margin: 2.5%;
  }
}

@media (min-width: 1200px) {
  .caja3 {
    background-color: darkorange;
    width: 30%;
  }
}

@media (max-width: 200px) {
  .caja4 {
    background-color: mediumslateblue;
    width: 10%;
  }
}


@media (min-width: 576px) {
  .container {

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 30px 100px auto 30px;
    grid-template-areas: "navbar navbar navbar navbar"
      " header header header header";
  }

}

@media (min-width: 1090px) {
  .logo {
    width: 54px;
    order: 2;
  }

  .navbar:nth-child(1) {
    order: 1;
  }

  .navbar:nth-child(2) {
    order: 3;
  }

  .navbar:nth-child(2) {
    border: 0;
  }

  .main {
    flex-direction: row;
    align-items: center;
  }

  .footer {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

}


.caja3 {
  width: 300px;
  background-color: aqua;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 121, 60, 1) 35%, rgba(0, 212, 255, 1) 100%);
  color: rgb(255, 255, 255);
  margin: 10px;
  padding: 10px;


}

.imgTransfor {
  width: 400px;
  margin: 20px;
  transform: translate(50px, 20px) scale(1.5);

}

.imgTransfor2 {
  width: 400px;
  margin: 20px;
  transition: all 1s;

}


.imagenImg {
  width: 100%;
  height: auto;
  size-adjust: small;

}